body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Roboto;
}

.box {
    background-color: #fda530;
    height: 500px;
    width: 300px;
    align-items: center;
    border-radius: 25px;
    margin: auto;
}

h1 {
    padding: 10px;
}
/* #fda530 */